<!DOCTYPE html>
<html class="no-js" lang="{{ app.request.getLocale() }}">
    <head>
    <head>
        <title>CV Grzegorz Kaszuba</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% stylesheets
            '@download_stylesheets'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <header id="mainHeader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-thumbnail pull-right" src="{{ asset("/bundles/front/images/ui_small.jpg") }}" />
                        <h1>Curriculum Vitae</h1>
                        <h3>Grzegorz Kaszuba</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul id="contactInfo">
                            <li><strong>www:</strong> http://uirapu.ru</li>
                            <li><strong>gsm:</strong> +48 604 411 089</li>
                            <li><strong>email:</strong> uirapuru@tlen.pl</li>                   
                            <li><strong>skype:</strong> uirapuruadg</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <article>
            <section>
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ 'work_experience'|trans }}</h3>
                            </div>
                        </div>
                    </div>
                </header>

                <ul id="exp">
                    {% for job in jobs %}
                        {{ include("FrontBundle:Default:_job.html.twig", {job: job}) }}
                    {% endfor %}
                </ul>
            </section>

            <section>
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ 'education'|trans }}</h3>
                            </div>
                        </div>
                    </div>
                </header>
                <ul>
                    <li>
                        <strong>Uniwersytet Warmińsko-Mazurski</strong><br />
                        <span class="date">X.2008 - VI.2011</span> <div class="pull-right occupation">(inżynieria systemów informatycznych)</div>
                        <div class="clearfix"></div>
                    </li>                            
                    <li>
                        <strong>Politechnika Gdańska</strong><br />
                        <span class="date">X.2005 - VI.2007</span> <div class="pull-right occupation">(informatyka)</div>
                        <div class="clearfix"></div>
                    </li>                            
                    <li>
                        <strong>Studium informatyczne Żak</strong><br />
                        <span class="date">2003 - 2005</span> <div class="pull-right occupation">(technik informatyk)</div>
                        <div class="clearfix"></div>
                    </li>                            
                </ul>
            </section>

            <section>
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ 'skills'|trans }}</h3>
                            </div>
                        </div>
                    </div>
                </header>
                <ul>
                    <li>PHP 5.5, Javascript</li>
                    <li>Symfony1, Symfony2, Silex, ZendFramework 1, Kohana, PHPUnit</li>
                    <li>MySQL, PostgreSQL, MongoDB, Redis</li>
                    <li>HTML5, CSS3</li>
                    <li>Twig, Smarty</li>
                    <li>JQuery, AngularJS</li>
                    <li>GIT, Subversion</li>
                    <li>Redmine, Jira, Mantis</li>
                    <li>Jenkins CI, Capistrano</li>
                    <li>Apache, Linux</li>
                </ul>
            </section>
        </article>
    </body>
</html>