<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.request.getLocale() }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Grzegorz 'Uirapuru' Kaszuba - web developer, martial artist | php, javascript, capoeira, brazilian jiu jitsu{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

            {% stylesheets
                'components/bootstrap/dist/css/bootstrap.min.css'
                'components/font-awesome/css/font-awesome.min.css'
                'components/flag-icon-css/css/flag-icon.min.css'
                'bundles/front/less/main.less'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body ng-app>
    {% block body %}{% endblock %}
    {% block javascripts %}
        {% javascripts
            'components/jquery/dist/jquery.min.js'
            'components/angular/angular.min.js'
            'components/angular-animate/angular-animate.min.js'
            'components/bootstrap/dist/js/bootstrap.min.js'
            'components/modernizr/modernizr.js'
            '@FrontBundle/Resources/coffee/main.coffee'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

        {% include '::analytics.html.twig' %}
    {% endblock javascripts %}
    <footer>
        <div id="mailer">
            <div  class="container">
                <div class="col-md-12">
                    <div class="fa fa-envelope-o" id="openMailer" ng-click="showMailer = ! showMailer"></div>
                    <div ng-show="showMailer">
                        {{ render(controller('FrontBundle:Default:embeddedContact')) }}
                    </div>
                </div>
            </div>
        </div>
        <div id="contactInfo">
            <div  class="container">
                <div class="col-md-offset-1 col-md-9">
                    <h3>{{ 'footer.contact.header'|trans }}</h3>
                    <ul>
                        <li>{{ 'footer.contact.gsm.caption'|trans }}: +48 604411089</li>
                        <li>{{ 'footer.contact.email.caption'|trans }}: uirapuru@tlen.pl</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
