{% extends "MailerBundle::layout.html.twig" %}

{% block content %}
        <h3>Wiadomość kontaktowa z GyMan.pl</h3>

        <p>Wiadomość wysłana o godzinie {{ "now"|date("H:i") }} dnia {{ "now"|date("d.m.Y") }} :

        <div style="border: 5px solid black; border-radius: 5px; padding: 25px; margin: 50px;">
            <table>
                <tbody>
                    <tr>
                        <td><strong>email:</strong></td>
                        <td>
                            <a href="mailto:{{ email }}">{{ email }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>treść</strong></td>
                        <td>
                            <p>{{ message }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
